extends ../../layouts/common 

block content
    div(style="margin-left: 13%")
        .shadow.p-3.mb-5.bg-white.rounded.mt-3.ml-4.mr-4
            .row.ml-1
                h5.font-weight-bold Danh sách đơn hàng đã nhập
                a.btn.btn-success.ml-auto.mr-3(href="/warehouse/insertCoupon") + Thêm mới 

            .mt-4 
                form.form-inline(method="POST" autocomplete="off")
                    label(for="search") Tìm kiếm theo mã hoặc người nhập hàng:
                    input.form-control.ml-sm-2(type="search" name="search" placeholder="Search..." value=values? values : "")


            table.table.table-bordered.text-center
                tr 
                    th Mã đơn hàng
                    th Người nhập hàng 
                    th Lý do nhập hàng
                    th Ghi chú
                    th Ngày nhập hàng
                    th Thao tác

                if(find)
                    each db in find 
                        tr 
                            td= db.ID 
                            td= db.name  
                            td= db.reason 
                            td= db.note 
                            td= db.date
                            td
                                a(href="/warehouse/viewCoupon/" + db.ID) Xuất
                                a.ml-3(href="/warehouse/report/" + db.ID) Xem
                                a.ml-3(href="/warehouse/updateCoupon/" + db._id) Sửa 
                                a.ml-3(href="" data-id= db._id data-toggle="modal" data-target= "#deleteitem" ) Xóa 
                else 
                    each db in coupon 
                        tr 
                            td= db.ID 
                            td= db.name  
                            td= db.reason 
                            td= db.note 
                            td= db.date
                            td 
                                a(href="/warehouse/viewCoupon/" + db.ID) Xuất
                                a.ml-3(href="/warehouse/report/" + db.ID) Xem
                                a.ml-3(href="/warehouse/updateCoupon/" + db._id) Sửa 
                                a.ml-3(href="" data-id= db._id data-toggle="modal" data-target= "#deleteitem" ) Xóa 

    form#formdelete(method="POST")

    // delete phiều nhập hàng
    #deleteitem.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Xóa phiếu nhập hàng !
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                        | Bạn có muốn xóa phiếu nhập hàng này ? 
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy
                    button.btn.btn-danger(type='button' id="btndelete") Xóa bỏ

    script. 
        document.addEventListener('DOMContentLoaded', function(){
            var IDname;
            var btndelete = document.getElementById('btndelete');
            var frmdelete = document.forms['formdelete'];

            $('#deleteitem').on('show.bs.modal', function(event){
                var button = $(event.relatedTarget);
                IDname = button.data('id');
            })

            btndelete.onclick = function(){
                //alert(IDname);
                frmdelete.action = "/warehouse/" + IDname + "?_method=DELETE";
                frmdelete.submit();
            }
        })
