extends ../../layouts/common.pug

block content 
    script(src="../../JS/insertExport.js")

    div(style="margin-left: 13%")
        .mt-3.ml-4.mr-4
            form#frm(method="POST" autocomplete="off")
                .shadow.p-3.mb-2.bg-white.rounded
                    h4.font-weight-bold Tạo phiếu xuất kho hàng
                    hr
                    p Nhập thông tin phiếu xuất hàng:
                    .form-group
                        label(for="ID") Mã đơn hàng: 
                        input#ID.form-control(type="text" name="ID" style="width: 30%; align-item: center" required)

                    .form-group
                        label(for="name") Người xuất kho hàng: 
                        input#name.form-control(type="text" name="name" style="width: 30%"  required)

                    .form-group
                        label(for="reason") Lý do xuất kho: 
                        input#reason.form-control(type="text" name="reason" style="width: 30%" required)

                    .form-group
                        label(for="note") Ghi chú: 
                        textarea#note.form-control(name="note" row="10" col="50" style="width: 30%")

                    .form-group
                        label(for="date") Ngày xuất hàng: 
                        input#date.ml-2(type="date" name="date" required)

                // =================================================================
                .shadow.p-3.mb-3.bg-white.rounded
                        p Nhập thông tin vật tư:
                        .form-inline
                            .form-group 
                                label(for="listproduct") Tên vật tư: 
                                select.custom-select.ml-2(name="listproduct" required onchange="selectText(this)")
                                    each vattu in product
                                        option(value= vattu.number)= vattu.name


                            // Hiển thị tổng số lượng vật tư xuất đi
                            .form-group 
                                select#numberExport(style="display: none;")
                                    each db in revenue
                                        option(value=db.name)= db.number_export


                            // Hiển thị tổng số chi phí vật tư xuất đi
                            .form-group 
                                select#priceExport(style="display: none;")
                                    each db in revenue
                                        option(value=db.name)= db.price_export
                                
                            // Hiển thị tổng số chi phí vật tư xuất đi
                            .form-group 
                                select#allProfit(style="display: none;")
                                    each db in revenue
                                        option(value=db.name)= db.profit



                            // lấy ra giá hiện tại của vật tư đó
                            .form-group 
                                label.ml-2(for="listproduct" ) Giá nhập kho: 
                                select#getPrice_current.custom-select.ml-2
                                    each vattu in product
                                        option(value= vattu.name disabled="disabled")= vattu.price

                            .form-group 
                                label.ml-2(for="listUnit") Đơn vị: 
                                select#getUnit.custom-select.ml-2(name="listUnit" required)
                                    each db in unit
                                        option(value= db)= db

                            .form-group
                                label.ml-2(for="price") Giá xuất đi:
                                input#price.ml-2.form-control(onchange="checkPrice()" type="text" name="price" required)
                                small#checkprice.form-text(style="color: red")

                            .form-group.mt-3 
                                label.ml-2(for="number") Số lượng:
                                input#number.ml-2.form-control(type="number" name="number" min="1" max="1000" required)

                .form-group.float-right
                    button#btn.btn.btn-primary(type="button" onclick="checkSubmit()") Lưu thông tin

