extends ../../layouts/common.pug

block content 
    div(style="margin-left: 13%")
        .shadow.p-3.mb-5.bg-white.rounded.mt-3.ml-4.mr-4
            .row.ml-1
                h5.font-weight-bold Danh sách nhà cung cấp
                a.mr-3.ml-auto.btn.btn-success(href="/supplier/insert") + Thêm mới 

            .mt-4 
                form.form-inline(method="POST" autocomplete="off")
                    label(for="search") Tìm kiếm theo tên hoặc địa chỉ:
                    input.form-control.ml-sm-2(type="search" name="search" placeholder="Search..." value=values? values : "")

            
            table.table.text-center.table-bordered
                tr
                    th Tên nhà cung cấp
                    th Địa chỉ
                    th Số điện thoại 
                    th Email
                    th Ngày hợp tác
                    th Thao tác

                if(find)
                    each db in find
                        tr
                            td= db.name 
                            td= db.address
                            td= db.phone
                            td= db.email
                            td= db.cooperationDay
                            p#idname(name="idname" style="display: none")= db._id
                            td 
                                a(onclick = "postUpdate()" href=("/supplier/update/" + db._id)) Sửa
                                a.ml-3(href="" data-id = db._id data-toggle="modal" data-target="#deleteitem") Xóa
                else 
                    each db in supplier
                        tr
                            td= db.name 
                            td= db.address
                            td= db.phone
                            td= db.email
                            td= db.cooperationDay
                            p#idname(name="idname" style="display: none")= db._id
                            td 
                                a(onclick = "postUpdate()" href=("/supplier/update/" + db._id)) Sửa
                                a.ml-3(href="" data-id = db._id data-toggle="modal" data-target="#deleteitem") Xóa


        form#formdelete(method="POST")

    // delete nhà cung cấp
    #deleteitem.modal.fade(tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Xóa nhà cung cấp !
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                        | Bạn có muốn xóa nhà cung cấp này ? 
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy
                    button.btn.btn-danger(type='button' id="btndelete") Xóa bỏ

    script. 
        document.addEventListener('DOMContentLoaded', function(){
            var IDname;
            var frmdelete = document.forms['formdelete']
            var btndelete = document.getElementById('btndelete');

            $('#deleteitem').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                IDname = button.data('id')
            });

            btndelete.onclick = function()
            {
                //alert(IDname);
                frmdelete.action = "/supplier/" + IDname + "?_method=DELETE";
                frmdelete.submit();
            }
        });